*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    

}

/*Start Header */
.container{
    max-width: 1170px;
    margin: auto;
    padding:  15px;
}

.header{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.2);
    z-index: 10;
    
}

.header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .logo img{
    vertical-align: middle;
}

.header .menu .head{
    display: none;
}

.header .menu ul{
    list-style: none;
}

.header .menu > ul > li{
    display: inline-block;
}

.header .menu > ul > li:not(:last-child){
    margin-right: 40px;
}
.header .menu .dropdown{
    position: relative;
}
.header .menu a{
    text-decoration: none;
    text-transform: capitalize;
    font-size: 16px;
    color: #fff;
    line-height: 1.5;
    display: block;
}

.header .menu > ul > li > a {
    padding: 24px 0;
}

.header .menu ul .dropdown a{
    padding-right: 15px ;
}

.header .menu i{
    font-size: 10px;
    pointer-events: none;
    user-select: none;
    position: absolute;
    color: #fff;
    top: calc(50% - 5px);
}

.header .menu ul li i{
    right: 0;
}

.header .menu .sub-menu{
    position: absolute;
    top: 100%;
    left: 0;
    width: 230px;
    padding: 15px 0;
    background-color: #006D77;
    box-shadow: 0 0 5px hsla(0,0%,0%,0.5);
    z-index: 1;
    transform-origin: top;
    transform: scaleY(0);
    visibility: hidden;
    opacity: 0;
}


.header .menu li:hover > .sub-menu{
    opacity: 1;
    transform: none;
    visibility: visible;
    transition: all 0.3s ease;
}
.header .menu .sub-menu a{
    padding: 6px 24px;
}
.header .menu .sub-menu > a{
    padding-right: 34px;
}

.header .menu .sub-menu span{
    background-image: linear-gradient(hsl(0, 0%, 100%),hsl(0, 0%, 100%));
    background-size: 0 1px;
    background-repeat: no-repeat;
    background-position: 0 100%;
    transition: background-size 0.3s ease;
}

.header .menu .sub-menu li:hover > a > span{
    background-size: 100% 1px;
}

.header .menu .sub-menu i{
    transform: rotate(-90deg);
    right: 24px;
}

.header-right{
    display: flex;
}

.header-right > *{
    margin-left: 25px;    
}

.header-right .icon-btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
}

.header-right .open-menu-btn{
    display: none;
}

.hero{
    min-height: 100vh;
    width: 100;
    background-image: linear-gradient(rgba(11, 21, 58, 0.7),rgba(1, 12, 19, 0.7)),url("../assets/img/banner.png");
    background-position: center;
    background-size: cover;
    position: relative;
}
.header .menu ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background:#83C5BE;
    display: block;
    margin: auto;
    transition: 0.3s;
}

.header .menu  ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.text-box h1{
    font-size: 58px;
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #1ca4b1;
    border: 1px solid #008b97;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover{
    border: 1px solid #9edcd6;
    background: #006D77;
    transition: .8s;
    color: #fff;
}

nav .fas{
    display: none;
}

@media(max-width: 800px){

    .container .logo img{
        width: 130px;
        height: 130px;
    }
    .text-box h1{
        font-size: 20px;
    }
    
    .header{
        padding: 12px 0;
    }
    .header .menu{
        position: fixed;
        right: 0;
        top: 0;
        width: 320px;
        height: 100%;
        background-color: #006D77;
        padding: 15px 30px 30px;
        overflow-y: auto;
        z-index: 1;
        transform: translateX(100%);
    }
    
    .header .menu.open{
        transform: none;
    }
    .header .menu .head{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 15px;
    }

    .header .menu .close-menu-btn{
        height: 35px;
        width: 35px;
        position: relative;

        display: inline-flex;
        align-items: center;
        justify-content: center;
        
        background-color: transparent;
        cursor: pointer;
        border: none;
    }
    .header .menu .close-menu-btn::before,
    .header .menu .close-menu-btn::after{
        content: '';
        position: absolute;
        width: 80%;
        height: 2px;
        background-color: #fff;
    }

    .header .menu .close-menu-btn::before{
        transform: rotate(45deg);
    }

    .header .menu .close-menu-btn::after{
        transform: rotate(-45deg);
    }

    .header .menu > ul > li{
        display: block;
    }
    .header .menu > ul > li:not(:last-child){
        margin-right: 0;
    }
    .header .menu li{
        border-bottom: 1px solid hsla(0, 0%, 100%, 0.25);
    }
    .header .menu li:first-child{
        border-top: 1px solid hsla(0, 0%, 100%, 0.25) ;
    }
    .header .menu > ul > li > a{
        padding: 12px 0;
    }
    
    .header .menu > ul > .dropdown > a{
        padding-right: 34px;
    }
    .header .menu i{
        height: 34px;
        width: 34px;
        border: 1px solid hsla(0, 0%, 100%, 0.25);

        display: inline-flex;
        justify-content: center;
        align-items: center;

        pointer-events: auto;
        cursor: pointer;
        top: 7px;
    }
    .header .menu .dropdown.active > i {
        background-color: hsla(0, 0%, 100%, 0.25);
        transform: rotate(180deg);
    }
    .header .menu .sub-menu{
        position: static;
        opacity: 1;
        transform: none;
        visibility: visible;
        padding: 0;
        transition: none;
        box-shadow: none;
        width: 100%;
        display: none;
    }
    .header .menu .dropdown.active > .sub-menu{
        display: block;
    }
    .header .menu .sub-menu li:last-child{
        border: none;
    }
    .header .menu .sub-menu  a{
        padding: 12px 0 12px 15px;
    }
    .header .menu .sub-menu .sub-menu a{
        padding-left: 30px;
    }
    .header .menu .sub-menu .sub-menu .sub-menu a{
        padding-left: 45px;
    }
    .header .menu .sub-menu span{
        background-image: none;
    }
    .header .menu .sub-menu i{
       transform: none;
       right: 0;
    }
    .header-right .open-menu-btn{
        display: inline-flex;
        justify-content: center;
        align-items: center;

        height: 40px;
        width: 44px;
        cursor: pointer;
        position: relative;
        background-color: transparent;
        border: none;
    }
    .header-right .open-menu-btn .line{
        height: 2px;
        width: 30px;
        background-color: #fff;
        position: absolute;
    }
    .header-right .open-menu-btn .line-1{
        transform: translateY(-8px);
    }
    .header-right .open-menu-btn .line-3{
        transform: translateY(8px);
    }

}
/*End Header */
 :root{
    --primary :  #103b49;
    --secondary : #091126;
}



.zmt{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(145deg, var(--secondary), var(--primary));
}

.contact{
    height: 70vh;
    width: 75vw;
    border-radius: 1rem;
    display: flex;
    overflow: hidden;
    box-shadow: 0 .2rem .5rem #000600;
}

.map, .form{
    width: 50%;
    height: 100%;
}

.map iframe{
    width: 100%;
    height: 100%;
}

.form{
    position: relative;
    background-color: var(--secondary);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.form::before{
    position: absolute;
    top: 10%;
    left: -2.8rem;
    content: "";
    width: 0;
    height: 0;
    border: 1.4rem solid transparent;
    border-right: 1.4rem solid var(--secondary);
}

.form h1{
    color: #fff;
    font: 500 1.8rem sans-serif;
}

.form form{
    padding: 0.2rem;
}

.form input, .form textarea{
    width: 100%;
    padding: 1rem;
    border: .08rem solid var(--primary);
    border-radius:2rem ;
    background-color: unset;
    color: #fff0ff;
    font-size: 1rem;
}

.form input:not(:first-child), .form textarea, .form button{
    margin-top: .8rem;
}

.form textarea{
    height: 6rem;
    resize: none;
}

.form button{
    background-color: var(--primary);
    padding: 1rem 2rem;
    color: #fff;
    border-radius: 2rem;
  border: none;
  cursor: pointer;
} 
/* Start Footer */
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
    background-color:#006D77;
    color: #fff;
}

.footer h4{
    margin-bottom: 5px;
    margin-top: 2px;
    font-weight: 600;
    color: #fff;
}

.icons .fab{
    color: #fff;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;

}
.heart .fas {
    color: #fff;
    margin-bottom: 30px;
}

.cr{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 0;
}

.footer p{
    color: #fff;
}

/* End Footer */